
@{
    ViewBag.Title = "ViewCart";
}

<h2>Shows All items of cart</h2>
@foreach (var product in Model.CartProduct)
{
    <h2>ProductPrice: @product.SellingPrice </h2>
    <h2>Variant_ID: @product.Variant_ID </h2>
    <a href="@Url.Action("RemoveItem", "Card", new { VariantID = product.Variant_ID })" >Remove Item</a>
}

