@model FuegoBox.Presentation.Models.ViewCartModel

@{
    ViewBag.Title = "ViewCart";
}
<h1>details of cart</h1>

@foreach (var product in Model.CartProduct)
{<div class="row">
        <div class="col-md-12">
            <div class="card card-style" style="margin-bottom:10px">
                <div class="card-header">
                    <button type="button" class="close" aria-label="Close" onclick="location.href='@Url.Action("RemoveItem", "Card", new { VariantID = product.Variant_ID })'">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@product.Url" height="150" width="150" />
                        </div>
                        <div class="col-md-4 offset-1">
                            <h2>Variant_ID: @product.Variant_ID </h2>
                            <h2>Selling Price:@product.SellingPrice</h2>
                            <h2>Name:@product.Name</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <h2>Subtotal:@Model.Total</h2>
}
